#artfully-alert {
    display: none;
}

.performance {
    padding: 0.5em 0.25em;
    margin: 0.5em 0;
    color: #666666;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.performance .ticket-search {
    position: absolute;
    right: 0.25em;
}

ul {
    list-style-type: none;
}

.ticket-types li {
    padding: 1em;
}

.ticket-types .ticket-type-name {
    font-size: 1.25em;
    line-height: 1.5em;
}

.ticket-types .ticket-type-price {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    font-weight: bold;
    background: #eeeeee;
    padding: 0.5em;
    margin-right: 1em;
    float: left;
    font-size: 0.8em;
}

.ticket-types form {
    margin: 1em 0;
}

#shopping-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.9);
}

#shopping-cart-controls {
    color: white;
    padding: 10px 5px 10px 27px;
    cursor: pointer;
    font-size: 0.9em;
    font-family: Arial;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    right: 0;
    width: 300px;
}

#shopping-cart.shown #shopping-cart-controls {
    background: #333 url("/assets/icons/down_arrow.png") no-repeat 10px center;
}

#shopping-cart.hidden #shopping-cart-controls {
    background: #333 url("/assets/icons/up_arrow.png") no-repeat 10px center;
}

#shopping-cart-controls .timer {
    float: right;
}

#shopping-cart iframe {
    width: 100%;
}

.ticket_count {
    margin-right: 5px;
}

.artfully-calendar {
    
}

.artfully-calendar td {
    width: 14.28%;
    height: 100px;
    vertical-align: top;
    text-align: left;
    border: 1px #CCC solid;
    padding-top: 0px;
}

.artfully-calendar .art-day-num {
    text-align: right;
    font-weight: bold;
    background-color: #F5F5F5;
    color: #999;
    padding-right: 6px;
}

.artfully-calendar .future {
    color: #333;
}

.artfully-calendar .art-event {
    line-height: 1;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}


.artfully-calendar-month {
    float: left;
}

.artfully-month-selector {
    float: right;
    margin-top: 1em;
}

